<div class="row-fluid">
<div class="span">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li><a href="#">首页</a> <span class="divider">/</span></li>
            <li><a href="#/picture">Library</a> <span class="divider">/</span></li>

             <% if(typeof user != "undefined"){ %>
            <li><a href="#/userpanel">用户设置</a> <span class="divider">/</span> </li>
            <% } %>

            <li><a href="#/rss">rss</a> <span class="divider">/</span> </li>

            <li><a href="#/twitter">twitter</a> <span class="divider">/</span> </li>
        </ul>
    </div>
    </div>
</div>

