<!doctype html>
<html>
    <head>
    </head>
    <body>
        <form action="/upload" enctype="MULTIPART/FORM-DATA" method=post> 

            <br /> 

            公司: <input type="text" name="company" /> 

            <br /> 

            选择要上载的文件 <input type="file" name="filename" /> 

            <br /> 

            <input type="submit" value="上载" /> 

        </form>
    </body>
</html>
